.motionView {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: red;
  margin: 50px 0;
}
.button {
  font-size: 2rem;
  background: rgb(98, 98, 235);
  color: #fff;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
}